.app-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  background-color: $appBarBg;
  padding: 5px 30px;
  transition: $transition;
  filter: drop-shadow(4px 2px 4px rgba(14, 10, 37, 0.2));

  .logo {
    font-size: 24px;
    font-weight: 300;

    span {
      font-size: 32px;
      font-weight: 600;
    }
  }
}
