body.is-dark {
  background-color: $bodyBcDark;
  color: white;

  .app-bar {
    background-color: $appBarBgDark;
    filter: drop-shadow(4px 1px 6px #c3c9cf);
  }

  .toolbar button {
    color: white;
    filter: none;
  }

  table {
    color: white;

    tbody > tr > td.data-cell > span {
      color: white;
    }
  }
}
